---
layout: default
---
{%- assign date_format = site.minima.date_format | default: "%d/%m/%Y" -%}
<div class="post-container">
  <li>
    <h1 id="posts-label">{{ page.categories }}</h1>
  </li>  
  <div class="post-meta">
    <a class="post-link" href="{{ page.url | relative_url }}">
      <h2 class="post-title">{{ page.title | escape }}</h2>
    </a>
    <div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div>
  </div>
  <div class="post">
    {{ content }}
  </div>